body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

img {
	vertical-align: middle;
}

.divBorder {
	width: 100%;
	border: 1px solid #000000;
	padding: 30px 10px 10px 10px;
}

.divTitle {
	position: relative;
	top: -40px;
}

.divTitle span {
	background-color: #ffffff;
}
